odoo-addon-product_packaging_level @ git+https://github.com/OCA/product-attribute.git@refs/pull/1806/head#subdirectory=product_packaging_level
odoo-addon-product_packaging_level_salable @ git+https://github.com/OCA/product-attribute.git@refs/pull/1808/head#subdirectory=product_packaging_level_salable
