odoo-addon-product_packaging_level @ git+https://github.com/trisdoan/product-attribute.git@refs/pull/2/head#subdirectory=product_packaging_level
odoo-addon-product_packaging_level_salable @ git+https://github.com/trisdoan/product-attribute.git@refs/pull/6/head#subdirectory=product_packaging_level_salable
odoo-addon-product-set @ git+https://github.com/OCA/product-attribute.git@refs/pull/1758/head#subdirectory=product_set
odoo-addon-sale_product_set @ git+https://github.com/OCA/sale-workflow.git@refs/pull/3386/head#subdirectory=sale_product_set
odoo-addon-sale_product_set_packaging_qty @ git+https://github.com/trisdoan/sale-workflow.git@refs/pull/11/head#subdirectory=sale_product_set_packaging_qty
odoo-addon-sell_only_by_packaging @ git+https://github.com/trisdoan/sale-workflow.git@refs/pull/10/head#subdirectory=sell_only_by_packaging
